<h2 class="title is-3"><%= @post.title %>
<small class="subtitle">Written by: <%= @post.user.name %></small></h2>

<p class="content"><%= @post.content %></p>

Tags:
<ul id="tags">

</ul>

<%= link_to "Edit", edit_post_path %>
